<div class="row">
  <app-profile
    class="col-sm-4 col-md-4 col-xs-12 col-lg-4"
    name="Simon Osorio Castaño"
    email="zaiimon3@gmail.com"
    phone="3194504535"
    direction="Calle 100 A # 32 B 25"
    [socialNetworks]="[
      { display: '@zaiimon01', link: 'https://www.instagram.com/zaiimon01/' }
    ]"
  ></app-profile>

  <section class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
    <app-technologies [technologies]="technologies"></app-technologies>

    <app-diplomat
      name="Diplomado en desarrollo de software"
      date="17 de noviembre"
      duration="6 Meses"
    ></app-diplomat>

    <app-certificate
      name="Simon osorio castaño"
      adress="calle 100 A # 32 B 25"
      serial_number="1053856931"
      Date_export_certificate="10 de Mayo del 2020"
    ></app-certificate>
  </section>

  <section class="col-sm-12 col-md-4 col-xs-12 col-lg-4">
    <app-studies [studies]="studies"></app-studies>

    <app-reference
      name="Liliana Castaño Sanchez"
      phone="3113221586"
      adress="Calle 100 A # 32 B 25"
      email="lilicastano3@hotmail.com"
      name1="John Jairo Osorio"
      phone1="3117195435"
      adress1="Carrera 1"
      email1="simonosorio@colombiataxis.com"
    ></app-reference>
  </section>
</div>
